*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}



@font-face {
    font-family: "lobster" ;src: url("../fonts/lobster.ttf"); 
    font-family: "lusitana"; src: url("../fonts/lusitana.ttf");
    font-family: "lobsterregular"; src: url("../fonts/lobsterregular.ttf");
}
  
@import  url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap'); 




.headerhead
{
margin-left: 2.5rem;
margin-top: 2.5rem;
}


.img2 {

width: 15%;
margin-inline: 3%;
margin-top: 1%;

}




#body__index
{
background-image: url("../img/vista-posterior-mujer-haciendo-yoga-al-aire-libre.jpg"); 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
width: 100%;
    
}


.inicioDiv
{
    display: flex;
align-items: start;
flex-wrap: wrap;

    
}

.navInicio
{
    margin-top: 3%;
     
     flex-grow: 1;
     
}
nav > ul.inicio
{
   display: flex;
   list-style-type: none;
   width: 100%;
   gap: 7rem;
   flex-wrap: wrap;
   margin-top: 3%;
   margin-right: 25%; 
   text-align: center;
   justify-content: center;
   
}


.menu
{
color: black;
text-decoration: none;
font-family: lusitanaregular;
font-size: 2rem;
border-left: 0.150rem solid rgb(12, 12, 12);
border-right: 0.125rem solid rgb(14, 13, 13);
border-radius: 25%;
padding-top: 0.2rem;
padding-right: 2rem;
padding-left: 2rem;
padding-bottom: 0.2rem;
transition: .5s;
text-align: center;


}

ul > .barra
{
    padding-right: 5rem;
}


.menu:hover
{
    background: #3c061c7e;
    cursor: pointer;
    
}

.mainTitulo
{
padding: 15%;
display: flex;
position: relative;
}
main > .divTitulo

    {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: end;
        width: 100%;
        bottom: 45%;
        position: absolute;
        right: 10%;
        
    }



.tituloIndex
{ 
font-family: lobsterregular;
font-size: 4.5rem; 
text-align: justify;
flex-wrap: wrap;


}
   





.btn__ini
    
{
text-decoration: none;
color: rgb(247, 243, 243);
background-color: black;
padding-block: .35em .35em;
padding-right: 0.75rem;
padding-left: 1rem;
text-align: left;
float: left;
font-family: lusitanaregular;
font-size: 3rem;
border-radius: 5rem;
border: 0.125rem solid #000000;
transition: .5s;
margin-block: 1rem;
position: absolute;
top: 85%;
left: 10%;
opacity: 50%;

}

.btn__ini:hover
{
    background: white;
    color: black;
    opacity: 100%;

}
 
                       /* Servicios */
#body__servicio
{
    background-color: #d3c8c0; 
    

       
}


.headerServicio
{
    

    padding-top: 1.65%;
    padding-bottom: 3%; 
    padding-left: 5.6%;
    
    
}

.servicioDiv

{
    display: flex;
    justify-content: space-around;
   flex-wrap: nowrap;
   align-items: end;
   align-content: end;

   
   
    
}



nav > ul.servicioUl
{
   display: flex;
   list-style-type: none;
   width: 100%;
   gap: 10rem;
   flex-wrap: wrap;
   padding-top: 0.41rem;
   padding-left: 0.23rem;
}
.aServicio:hover
{
    background: #3c061c63;
    cursor: pointer;
    
    
}



.aServicio
{
color: black;
text-decoration: none;
font-family: lusitanaregular;
font-size: 2rem;
border-left: 0.150rem solid rgb(12, 12, 12);
border-right: 0.125rem solid rgb(14, 13, 13);
border-radius: 25%;
padding-top: 0.2rem;
padding-right: 2rem;
padding-left: 2rem;
padding-bottom: 0.2rem;
transition: .5s;
}

.btn2
{
font-family: lusitanaregular;
font-weight: 700;
font-size: 3rem;
text-decoration: none;
color: black;
border: 0.150rem solid black;
text-align: center;
border-radius: 2.5625em 2.5625em 2.5625em 2.5625em;
transition: .5s;
width: 9.375rem;
margin: 1px 1px 1px 1px;
padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;

}
.btn2:hover
{
    background: black;
    color: white;
    
}


.mainServicio 

{
    
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
width: 100%;
}

#body__servicio
{
    background-image: 
    
   
    url("../img/flor\ background\ servicios.png");
    background-repeat: repeat-x;
    background-size: 30%, 30%;
                  
    background-position:40% 1100%, -2% 1100%;

                    

}
    


.terceraEdad > p

{
    background-color: #fad2e091;
   
    width: 21.875rem;
    font-family: lusitana;
    font-size: 1em;
    text-align: justify;
    margin-top: -0.25rem;
    padding: 1rem 1rem 1rem 1rem;
    
}

.embarazadas > p

{
    background-color: #fad2e091;
    
    width: 21.875rem;
    font-family: lusitana;
    font-size: 1em;
    text-align: justify;
    margin-top: -0.25rem;
    padding: 1rem 1rem 1rem 1rem;

}

.niños > p

{
    background-color: #fad2e091;
    width: 21.875rem;
    font-family: lusitana;
    font-size: 1em;
    text-align: justify;
    margin-top: -0.25rem;
    padding: 1rem 1rem 1rem 1rem;
}

.imgTer
{
    width: 21.875rem;
}


.imgEmb
{
    width: 21.875rem;
}

.imgNin
{
    width: 21.875rem;
}


                         /* quien soy? */

body > .headerQuien
  
  {

   background-color: #fad2e086; 
   padding-top: 1.65%;
padding-bottom: 3%; 
padding-left: 5.6%;
   
    
 }
 body > .mainQuien
 
 {
    background-color: #fad2e086;
 }

 .quienDiv
{
    display: flex;
    justify-content: space-around;
   flex-wrap: nowrap;
   align-items: start;
   align-content: center;
   align-items: center;
  
    
}



nav > .ulQuien
{
   display: flex;
   list-style-type: none;
   width: 100%;
   gap: 10rem;
   flex-wrap: wrap;
   padding-top: 0.41rem;
   padding-left: 0.23rem;
   
}



.aQuien
{
color: black;
text-decoration: none;
font-family: lusitanaregular;
font-size: 2rem;
border-left: 0.150rem solid rgb(12, 12, 12);
border-right: 0.125rem solid rgb(14, 13, 13);
border-radius: 25%;
padding-top: 0.2rem;
padding-right: 2rem;
padding-left: 2rem;
padding-bottom: 0.2rem;
transition: .5s;
}

.aQuien:hover
{
    background: #3c061c63;
    cursor: pointer;
    
    
}
.btn3
{
font-family: lusitanaregular;
font-weight: 700;
font-size: 3rem;
text-decoration: none;
color: black;
border: 0.150rem solid black;
text-align: center;
border-radius: 2.5625em 2.5625em 2.5625em 2.5625em;
transition: .5s;
width: 9.375rem;
margin: 1px 1px 1px 1px;
padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
}

.btn3:hover
{
    background: black;
    color: white;
    
}
.mainQuien
{
    
    padding-top: 10%;
    
    display: flex;
    align-items: flex-end;
    align-content: center;
    position:relative
    
}
.imgJackie
{
    padding-left: 10%;
    width: 32vw;
    position: absolute;
   right: 68%;
   top: 30%;
   
    
}
.divQuien

{
    display: flex;
    align-items: start;
    padding-bottom: 8%;
   
    
}
.imgDiv
{
    
    position: absolute;
    left: 55%;
    padding: 5rem;
    top: 67%
    
    
    

    
}

.fotQuien
{
    
   
    background-color: white;
padding: 4.95%;
}
.divQuien > p
{
    font-family: lobsterregular;
    font-size: 3.9rem;
    padding-right: 5% ;
    margin-left:33%;
    text-align: justify;
}

p > strong
{
    color: #ab663c
}
.imgDiv > .img1Quien
{
    width: 5vw;
    
   
}

.imgDiv > .img2Quien
{
    width: 7vw;
   
}
.imgDiv > .img3Quien
{
 
    width: 5vw;

}
                            /* CONTACTO */
#contactos
{
    background-image: url("../img/piedras-zen-fondo.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    
    
    
}
.contacto__header
{
padding-top: 1.65%;
padding-right: 1%;
padding-bottom: 1%; 
padding-left: 5.6%;

}


.contacto__div__header
{
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    
}

nav > .contacto__ul
{
    list-style-type: none;
    display: flex;
    gap: 10rem;
    flex-wrap: wrap;
    padding-top: 0.45rem;
    padding-left: 0.23rem;
    
}

.contacto__a
{
color: black;
text-decoration: none;
font-family: lusitanaregular;
font-size: 2rem;
border-left: 0.150rem solid rgb(12, 12, 12);
border-right: 0.125rem solid rgb(14, 13, 13);
border-radius: 25%;
padding-top: 0.2rem;
padding-right: 2rem;
padding-left: 2rem;
padding-bottom: 0.2rem;
transition: .5s;
}

.btn4
{
    font-family: lusitanaregular;
    font-weight: 700;
    font-size: 3rem;
    text-decoration: none;
    color: black;
    border: 0.150rem solid black;
    text-align: center;
    border-radius: 2.5625em 2.5625em 2.5625em 2.5625em;
    transition: .5s;
    width: 9.375rem;
    margin: 1px 1px 1px 1px;
    padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
}


.contacto__div
{
display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-right: 1.5rem;
 
 }  

 .contacto__form
 {
    background-color: #fad2e03a;
    padding-inline: 4rem;
    padding-block: 7rem 7rem;
    border-color: #000000;
    border-width: 0.5rem;
    border-style: dashed solid;
    text-align: start;
    width: 50%;
 }

 
.contacto__titulo
 {
    font-family: lobsterregular;
    font-weight: 700;
    font-size: 3rem;
    margin-top: -1rem;
    text-align: center;
   
 }
 .contacto__form
 
 {
display: grid;
justify-content: center;
align-items: center;
width: 100%;
gap: 1rem;
margin-top: -1rem;
grid-template-columns: 0.5fr 0.5fr 0.5fr;
grid-template-rows: 2fr 2fr 2fr 2fr;
grid-template-areas: "nombre email email"
                      "fecha hora servicio" 
                      "mensajes mensajes mensajes"
                      "botones botones botones2";
                      width: 50rem;

 }

form >.nombre
 {
    grid-area: nombre;
    
}
form > .email
{
    grid-area: email;
}
form > .servicio

{
    grid-area: servicio;
}

form > .fecha

{
    grid-area: fecha;
}

form > .hora
{
    grid-area: hora;
}
form > .mensaje
{
    grid-area: mensajes;
}

form > .botones
{
    grid-area: botones;
}

form > .botones2 
{
    grid-area: botones2;
}

form > input

{
   
    padding-block: 1rem;
    font-family: lusitanaregular;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    opacity: 50%;
  border-color: #000000;
    
}
form > select
{
    padding: 1rem;
    font-family: lusitanaregular;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    opacity: 50%;
}
form > textarea
{
    padding-block: 1rem;
    font-family: lusitanaregular;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    opacity: 50%;
    
}
form > .botones
{
    
    text-transform: uppercase;   
    transition: 0.3s;
    border-color: black;
    
}
form > .botones2 
{
    text-transform: uppercase;
    transition: 0.3s;
    border-color: black;
    
}
textarea:hover 
{
    
    opacity: 100%;
}
input:hover
{
    
    
    opacity: 100%;
}
.hora:hover
{
    cursor:pointer
}
.fecha:hover
{
    cursor:pointer
}
select:hover
{
    cursor: pointer;
    opacity: 100%;
    background-color: white;
}
.botones:hover
{
    background-color: rgb(113, 212, 113);
    cursor: pointer;
    opacity: 100%
}
.botones2:hover
{
    background-color: rgb(192, 72, 72);
    cursor: pointer;
    opacity: 100%;
}
.contacto__a:hover
{
    background: #3c061c63;
    cursor: pointer;
    
    
}

.btn4:hover
{
    background: black;
    color: white;
    
}

.footer__contactos{
display: flex;
align-items: center;
justify-content: space-between;

padding-bottom: 1.05rem;

}

.div__padre
{
    display: flex;
    gap: 9rem;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
     
}
.hijo > h1
{
    font-family: lobsterregular;
    font-size: 1.5rem;
    text-align: justify;
    text-decoration: underline;
    }
    .hijo > p
    {
        font-family:lusitanaregular ;
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: justify;
    }
   
    .fot__icon
    {
        margin-right: 5rem;
        letter-spacing: 1rem;
    }
    .fot__icon > i
    {
        font-size: 3rem;
    } 
    .bi-facebook
    {
        font-size: 3rem;
        color: #3b5998;

    }

    .bi-geo-alt-fill
    {
        color: red;
        
    }
    
    .bi-whatsapp
    {
      color:#25D366 ;  
    }

                                 /* UNIRTE */


    .header__uni
    {
        padding-top: 1.183rem;
        padding-left: 29.6rem;
        background-color: #fad2e03a;
        
    }
    
nav > .ul__nav__uni
{
   display: flex;
   list-style-type: none;
   width: 100%;
   gap: 10rem;
   flex-wrap: wrap;
   padding-top: 0.41rem;
   padding-left: 0.23rem;
}

.div__uni

{
    display: flex;
    justify-content: space-around;
   flex-wrap: nowrap;
   align-items: end;
   align-content: end;
}

.uni__a
{
color: black;
text-decoration: none;
font-family: lusitanaregular;
font-size: 2rem;
border-left: 0.150rem solid rgb(12, 12, 12);
border-right: 0.125rem solid rgb(14, 13, 13);
border-radius: 25%;
padding-top: 0.2rem;
padding-right: 2rem;
padding-left: 2rem;
padding-bottom: 0.2rem;
transition: .5s;
}
.uni__a:hover
{
    background: #3c061c63;
    cursor: pointer;
    
    
}

.main__uni
{
   height: 100vh;
}
.columna1
{
   background-image: url("../img/personas-mayores-felices-tiro-medio-interior.jpg");
   height: 90.6vh;
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
.columna2
{
   background-image: url("../img/mujer-rubia-embarazada-escuchando-musica.jpg");
   height: 90.6vh;
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-inline: 0.15rem solid black;
   
}

.columna3
{
   background-image: url("../img/joven-sonriente-apuntando-arriba.jpg");
   height: 90.6vh;
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.divUnirte
{
   margin:0;
   width: 100vw;
}

.divCon
{
   width: 100vw;
}


.ul__uni
{
   text-align: start;
   display: flex;
   flex-direction: column;
   align-items: start;
   background-color: #fad2e03a;
   border-color: #000000;
   border-width: 0.15rem;
   border-style: dashed solid;

}

.ul__uni > li
{
   font-family: lobsterregular;
   font-size: 2rem;
   font-weight: 700;
   line-height: 1rem;
   padding-block: 1rem 2rem;
   

}

.btn__nin 
{

margin-top: 10rem;
border-radius: 2rem;
padding-block: 1rem;
padding-inline: 2rem;


}
.btn__emb
{
margin-top: 10rem;
border-radius: 2rem;
padding-block: 1rem;
padding-inline: 2rem ;
}
.btn__ter
{
   margin-top: 10rem;
border-radius: 2rem;
padding-block: 1rem;
padding-inline: 2rem; 
}

                            /* MEDIA QUERIES */

@media screen  and (max-width: 480px) 
{
    #body__index
    {
        width: 105%;
    }
    .img2
    {
        width: 50%;
        margin-inline: 0;
    }
    .navInicio .inicio
    
    {
        max-width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-inline: 0;
        gap: 5rem;

    }

    .inicioDiv
    {
        align-items: center;
        justify-content: center;
    }
    .headerInicio
    {
        display: flex;
align-items: center;
justify-content: center;
    }

    .navInicio
    {
        margin-inline: 0;
        background-color: black;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
    }

    .inicio{
        display: flex;
align-items: center;
justify-content: center;
    }
ul > .barra
{
    padding-inline:inherit;
}
    .menu
    {
     font-size: 1.2rem;
     color: white;
    display: block ruby;
    padding-inline: 0.25rem;
border-left: 0.150rem solid rgb(252, 252, 252);
border-right: 0.125rem solid rgb(253, 251, 251);
margin-bottom: 3%;

    
    }
    .menu:hover
{
    background: white;
    cursor: pointer;
    color: black;
    
}
    .tituloIndex
    {
font-size: 3rem;
display: flex;
text-align: center;


    }
  main > .divTitulo
    {
        width: 75%;
        position: absolute;
        left: 12%;
        top: 25%;
    }
    .btn
    {
        top: 87.8%;
        left: 38%;
        padding-block: .25em .25em;
    }



.headerServicio{
    padding-inline: 0;
    padding-top: 3%;
}
.servicioDiv
{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}
.navServicio
{
    background-color: black;
    width: 100%;
    text-align: center;
    padding-block: 0.5rem;
   
}
nav > ul.servicioUl
{
    flex-wrap:wrap;
    gap:2rem;
    padding-left: 1.5rem;
}


.aServicio
{
 font-size: 1.2rem;
 color: white;
display: block ruby;
padding-inline: 0.25rem;
border-left: 0.150rem solid rgb(252, 252, 252);
border-right: 0.125rem solid rgb(253, 251, 251);
margin-bottom: 3%;
}

.aServicio:hover
{
    background: white;
    cursor: pointer;
    color: black;
    
}

.mainServicio{
    flex-direction: column;
}
.serviciosTitulo
{
    margin-top: 2rem;
    color: black;
    -webkit-text-stroke: 0.04rem #ffffff;
    background-color: #fad2e091;
    
}

div > .imgTer
{
    width: 21.875rem;
}
.terceraEdad > .edad
{
    width: 21.875rem;
    text-align: initial;
    font-size: 1.15rem;
}
.embarazadas > .emb
{
    text-align: initial;
    font-size: 1.15rem;
}

.niños > .nin
{
    text-align: initial;
    font-size: 1.15rem;
    

}
.mainServicio
{
    margin-bottom: 2rem;
}

#body__servicio
{
    background-size: contain;
    background-position: 0;
    background-repeat: repeat-y;
}
.btn2
{
    background-color: white;
    opacity: 85%;
    margin-left: 1rem;
}



.header__uni{
    padding-inline: 0;
    padding-top: 3%;
    margin: 0;
    background-color: #000000;
}
.div__uni
{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    
}
.nav__uni
{
    background-color: black;
    width: 100%;
    text-align: center;
    padding-block: 0.5rem;
   
}
nav > .ul__nav__uni
{
    flex-wrap:wrap;
    gap:2rem;
    padding-left: 1.5rem;
}


.uni__a
{
 font-size: 1.2rem;
 color: white;
display: block ruby;
padding-inline: 0.25rem;
border-left: 0.150rem solid rgb(252, 252, 252);
border-right: 0.125rem solid rgb(253, 251, 251);
margin-bottom: 3%;
}
.divCon
{
    display: flex;
    flex-direction: column;
}

.columna1
{
width: 100vw;
height: 33vh;
background-position-y: -101px;
}

.columna2
{
    width: 100vw;
    height: 33vh;
    background-position-y: -185px;
}

.columna3
{
    width: 100vw;
    height: 33vh;
}
.ul__uni
{

height: auto;
padding-right: 1rem;
margin-right: 15rem;
line-height: 1rem;
white-space: initial;
word-wrap: break-word;
display: inline-block;
overflow:scroll

}
.ul__uni > li
{
    font-size: 1rem;
    padding-block: 1rem 1rem;
}




.btn__ter
{
    position: absolute;
    top: 20%;
    left: 65%;
}
.btn__emb
{
    position: absolute;
    left: 65%;
    top: 44.7%;
    margin-top: 49%;
}
.btn__nin
{
    position: absolute;
left: 69%;
top: 86.3%;
}
}
