
@font-face {
    font-family: "lobster" ;src: url("../fonts/lobster.ttf"); 
    font-family: "lusitana"; src: url("../fonts/lusitana.ttf");
    font-family: "lobsterregular"; src: url("../fonts/lobsterregular.ttf");
}
  